@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Manrope', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dfe3ff;
}   

.parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.parent {
    background-color: #000422;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 24px;
    max-width: 1200px;
}

.profile-container {
    position: relative;
    display: flex;
    margin: 0;
}

.img-parent {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.overlay {
    cursor: pointer;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
    transform: scaleY(-1);
    transition-duration: 0.3s;
    position: absolute;
    border-radius: 0.75rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.img-content {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    border-radius: 0.75rem;
}

.img-info {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    display: block;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    padding-bottom: 1.5rem;
    z-index: 2;
}

.img-info h6 {
    font-weight: 700;
    text-align: left;
    font-size: 1.25rem;
    color: rgba(255, 255, 248, 1);
}

img {
    object-position: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
}


.text-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    gap: 2rem;
    padding: 0 0 0 2rem;
}

.profile-header  {
    display: flex;
    flex-direction: column;
}

.profile-header h1 {
    text-align: left;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 500;
}

.profile-header p {
    font-weight: 300;
    font-size: 1rem;
    margin-top: 10px;
}

.profile-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 0.625rem;
}

.profile-content h1 {
    text-align: left;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.profile-content a {
    color: #8896fd;
}

.profile-content p {
    font-weight: 600;
}

.profile-content p span {
    font-weight: 400;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-info p {
    font-weight: 500;
    color: #fff;
    font-size: 1.25rem;
}


@media screen and (max-width: 1023px) {
    * {
      font-size: 12px;
    }
  
    .parent-container {
      padding: 3.125em 20px;
    }
  
    .parent {
      flex-direction: column;
      align-items: center;
      flex: none;
      padding: 24px;
      width: 100%;
      gap: 32px;
      overflow: hidden;
    }
  
    .img-content {
      width: 100%;
    }
  
    .text-content {
      height: unset;
      justify-content: unset;
      padding: 0;
    }
  
    h2 {
      margin-top: 0;
    }
  
    .tagline {
      margin-top: 5px;
      font-size: 1.25rem;
    }
  
    h1 {
      font-size: 1.75rem;
    }
  
    h1 span {
      font-size: 1.75rem;
    }
  
    .profile-info {
      gap: 10px;
    }
  }